// colors
$primary: #E93B81;
$primary-light: #d6e4fe;
$light-gray: #dddada;
$light-gray-2: #c5c0c0;
$dark-gray-1: #979494;
$dark-gray-2:#384E66;
$theme-colors: (
  'primary':$primary
);

//sidebar width
$sidebar-width: 70px;
